USE [master]
GO
/****** Object:  Database [dbDemo]    Script Date: 2023/3/8 下午 01:21:06 ******/
CREATE DATABASE [dbDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbDemo]
GO
/****** Object:  User [sa5]    Script Date: 2023/3/8 下午 01:21:06 ******/
CREATE USER [sa5] FOR LOGIN [sa5] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sa5]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2023/3/8 下午 01:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](50) NULL,
	[fPhone] [nvarchar](50) NULL,
	[fEmail] [nvarchar](50) NULL,
	[fAddress] [nvarchar](50) NULL,
	[fPassword] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
