
@{
    ViewBag.Title = "DemoAdd";
}

<h2>DemoAdd</h2>

<form method="post" >
    <h3>請輸入數字</h3>
    <input type="text" name="num1"/>+<input type="text" name="num2"/>=@ViewBag.ANS
    <input type="submit" value="OK"/>
</form>

<form method="post">
    <h3>請輸入數字</h3>
    Unary quadratic equation
    <input type="text" name="fnum1" />X^2+<input type="text" name="fnum2" />X+<input type="text" name="fnum3" />X=0
    <input type="submit" value="OK" /> Ans=@ViewBag.UQEans
</form>
