
@{
    ViewBag.Title = "DemoAdd";
}

<h2>DemoAdd</h2>

<form method="post" >
    <h3>請輸入數字</h3>
    <input type="text" name="num1"/>+<input type="text" name="num2"/>=@ViewBag.ANS
    <input type="submit" value="OK"/>
</form>