
@{
    ViewBag.Title = "DemoUQE";
}

<h2>DemoUQE</h2>
<form method="post">
    <p>
        請輸入數字：
    </p>
    <p>
        <input type="text" name="txtA" value="@ViewBag.a" />X2+
        <input type="text" name="txtB" value="@ViewBag.b" />X+
        <input type="text" name="txtC" value="@ViewBag.c" />=0
    </p>
    <p>
        <input type="submit" value="OK" />X=@ViewBag.Ans
    </p>
</form>


