
@{
    ViewBag.Title = "Create";
}
<form method="post">
    <h3>請輸入數字</h3>
    

    
</form>
<h2>新增客戶資料</h2>
<label>客戶姓名</label>
<label>客戶姓名</label>
<label>客戶姓名</label>
<label>客戶姓名</label>
<label>客戶姓名</label>

<input type="text" id="cId" />
<input type="text" id="cName" />
<input type="text" id="cPhone" />
<input type="text" id="cEmail" />
<input type="text" id="cAddress" />
<input type="text" id="cPassword" />

<input type="submit" id="btnSubmit" />






